/*
Created by: @Frank_Alfred
DEMO URL: http://gohooey.com/demo/sidebar/hoedemo.html

[TABLE OF CONTENTS]

1.  IMPORTS
2.  RESET STYLES
3.  HEADER STYLES
4.  MAIN THEME CONTAINER STYLES
    4.1 LEFT PANEL STYLES
    4.2 CONTENT SECTION STYLES
	4.3 MINIMIZED LEFT PANEL STYLE
	4.4 THEME STYLE ACCORDING PHONE
5.	Boxed Theme Layout Style
6.	Theme Background Color Style
*/


/********** 1. IMPORTS **********/
/********************************/
@import url('bootstrap.min.css');
@import url('hoe-overlay-effect.css');
@import url('hoe-push-effect.css');
@import url('hoe-shrink-effect.css');
@import url('hoe-rightsidebar.css');
@import url('hoe-horizontal-navigation.css');
@import url('hoe-theme-color.css');
@import url('extra.css');
@import url('header.css');
/********** 2. RESET STYLES **********/
/*************************************/

/* ********** Default Theme Style************* */
body,html {
    
}
body{position:relative;}
#hoeapp-wrapper a:focus {
    outline: none;
}
#hoeapp-wrapper {
    background: #eef1f6;
    color: #7e7e7e;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
	font-family: "lato", sans-serif;
	direction: ltr;
    line-height: 20px;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
	width: 100%;
	margin: 0;
    padding: 0;
}
 
/************** 3. Theme Header Style Start Here ********************/

#hoe-header {
    background: #fff none repeat scroll 0 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
	position:relative;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.hoe-left-header {
    background: #3498db;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    position: absolute;
    float: left;
    text-align: center;
    width: 230px;
    z-index: 999;
}
.hoe-left-header a {
    color: #FFF;
}
.hoe-left-header a:hover,
.hoe-left-header a:focus {
    color: #FFF;
    text-decoration: none;
}
.hoe-left-header a i {
    color: #003c70;
    font-size: 22px;
    position: relative;
    top: 3px;
}
.hoe-right-header {
    background: #fff none repeat scroll 0 0;
    height: 50px;
    line-height: 50px;
    z-index: 101;
	margin-left: 230px;
	position: relative;
}
.hoe-right-header > ul {
    display: block;
    margin: 0;
    padding: 0;
}
.hoe-right-header li {
  display: inline;
  float: left;
}
.hoe-right-header > li  a {
    color: #7e7e7e;
    padding: 17px 15px;
}
.hoe-right-header li a:hover,
.hoe-right-header li a:focus {
    background: #efefef;
    text-decoration: none;
}
.hoe-right-header a i {
    color: #7e7e7e;
    font-size: 14px;
}
.right-navbar {
    float: right;
	padding-right: 7px !important;
}
.right-navbar li a i {
    font-size: 14px;
}
.left-navbar > li:first-child {
    padding-left: 50px;
}
.hoe-sidebar-toggle a:after {
    background: transparent;
    border: 0px solid #efefef;
    content: "\f0c9";
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 50px;
    padding: 0px 17px;
    position: absolute;
    color: #7e7e7e;
    z-index: 1000;
}
.hoe-sidebar-toggle a:hover:after {
    background: #efefef;
}
.hoe-left-header > .hoe-sidebar-toggle > a {
    display: none
}
#hoe-header .hoe-left-header[hoe-position-type="relative"] {
    position: relative;
}
#hoe-header .hoe-left-header[hoe-position-type="absolute"] {
    position: absolute;
}
#hoe-header .hoe-left-header[hoe-position-type="fixed"] {
    position: fixed;
}
#hoe-header .hoe-right-header[hoe-position-type="relative"] {
    position: relative;
}
#hoe-header .hoe-right-header[hoe-position-type="absolute"] {
    position: absolute;
}
#hoe-header .hoe-right-header[hoe-position-type="fixed"] {
	padding-right: 230px;
    position: fixed;
    width: 100%;
}
/*******************************Theme Header Style Close Here ***********************************/
/******************************* 4. main container Style start Here ***********************************/
#hoeapp-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	position:relative;
	clear:both;
}
/************************* 4.1 Theme Left Panel Style Start Here *********************************/
#hoe-left-panel {
    background: #FFF none repeat scroll 0 0;
    color: #7e7e7e;
    width: 230px;
    top: 0;
	position:absolute;
	float:left;
	min-height:100%;
    z-index: 100;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
#hoe-left-panel .profile-box {
    border-bottom: 1px solid #efefef;
    min-height: 50px;
    padding: 5px 15px;
    position: relative;
}
#hoe-left-panel .profile-box .media a img {
    width: 40px;
    height: 40px;
}

#hoe-left-panel .profile-box .media {
    position: relative;
}
#hoe-left-panel .profile-box .media a {
    margin-top: 2px;
}
#hoe-left-panel .profile-box .media a > img {
    border: 1px solid #efefef;
}
 

#hoe-left-panel ul {
    margin: 0;
    padding: 0;
}
#hoe-left-panel .nav-level {
    padding: 5px 15px;
    border-top: 1px solid #efefef;
    font-weight: bold;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {
  list-style: none;}

#hoe-left-panel .nav-level:first-child {
    border-top: 0px solid #efefef;
}
#hoe-left-panel .panel-list > li > a {
    background: #FFF;
    border-top: 1px solid #efefef;
    color: #7e7e7e;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 10px;
    position: relative;
}
#hoe-left-panel .panel-list > li:last-child > a {
    border-bottom: 1px solid #efefef;
}
#hoe-left-panel .panel-list > li:first-child > a {
    border-top: 0px solid #efefef;
}
#hoe-left-panel .panel-list > li > a:hover,
#hoe-left-panel .panel-list > li > a:focus {
    color: #000;
    background: #f1f1f1;
}
#hoe-left-panel .panel-list > li.active > a {
    background: #f1f1f1;
    border-top: 1px solid #efefef;
    color: #000;
}
#hoe-left-panel .panel-list > li > a > i {
    display: inline;
    font-size: 14px;
    padding-right: 6px;
}
#hoe-left-panel .panel-list > li > a span.menu-text {
    display: inline-block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > a:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 15px;
    position: relative;
    float: right;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #f1f1f1;
    color: #000;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > a:after {
    font-family: FontAwesome;
    content: "\f106" !important;
    font-size: 15px;
    float: right;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu li.hoe-has-menu > a:after {
    font-family: FontAwesome;
    content: "\f103";
    font-size: 15px;
    position: relative;
    float: right;
}
#hoe-left-panel .panel-list > li.hoe-has-menu li.hoe-has-menu.opened > a:after {
    font-family: FontAwesome;
    content: "\f102";
    font-size: 15px;
    position: relative;
    float: right;
}
#hoe-left-panel .panel-list ul {
    background: #fafafa;
    box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
#hoe-left-panel .panel-list ul.hoe-sub-menu li > a {
    background: transparent;
    border-top: 1px solid #efefef;
    color: #7e7e7e;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 10px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {
    display: none;
}
#hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:hover,
#hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:focus {
    text-decoration: none;
    color: #000;
    background: #f1f1f1;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul ul {
    display: none;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > ul > li.hoe-has-menu.opened > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > ul > li.hoe-has-menu.opened > ul > li.hoe-has-menu.opened > ul {
    display: block;
}

#hoe-left-panel .panel-list > li.hoe-has-menu.active > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.active > ul > li.hoe-has-menu.active > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.active > ul > li.hoe-has-menu.active > ul > li.hoe-has-menu.active > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul > li > a span.menu-text {
    padding-left: 15px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {

  list-style: outside none none;
}
#hoe-left-panel .panel-list > li.hoe-has-menu  li.hoe-has-menu > ul.hoe-sub-menu {

  list-style: outside none none;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {

  list-style: outside none none;

}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul > li.hoe-has-menu > ul > li > a span.menu-text {
    padding-left: 25px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul > li.hoe-has-menu > ul > li > ul > li > a span.menu-text {
    padding-left: 35px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul > li.hoe-has-menu > ul > li > ul > li > ul > li > a span.menu-text {
    padding-left: 40px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 14px;
    position: relative;
    float: left;
    left: 4px;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 12px;
    position: relative;
    float: left;
    left: 15px;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 14px;
    position: relative;
    float: left;
    left: 18px;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 12px;
    position: relative;
    float: left;
    left: 30px;
}
#hoe-left-panel .panel-list li.active > a .selected {
    border-bottom: 7px solid transparent;
    border-right: 7px solid #7e7e7e;
    border-top: 7px solid transparent;
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    top: 13px;
    vertical-align: middle;
    width: 0;
}
#hoe-left-panel .panel-list li.hoe-has-menu.active > a .selected {
    display: none;
}
#hoe-left-panel .panel-list li a .label {
    border-radius: 0.25em;
    color: #7e7e7e;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 4px 3px;
    position: absolute;
    right: 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.sul {
    background-color: #ebebeb;
}

#hoe-left-panel[hoe-position-type="relative"] {
    position: relative;
}
#hoe-left-panel[hoe-position-type="absolute"] {
    position: absolute;
}
#hoe-left-panel[hoe-position-type="fixed"] {
    position: fixed;
	top:50px;
}

/********************************** Theme Left Panel Style Close Here ******************************/
/*************************** 4.2 Theme Content Section Style Start Here ********************************/
#main-content {
	position:relative;
}
/******************* Theme Content Section Style Close Here *******************************/
/****************** 4.3 Minimized Left Panel Style Start Here *********************************/
#hoe-header.hoe-minimized-lpanel > .hoe-right-header[hoe-position-type="fixed"] {
  margin-left: 50px;
  padding-right: 50px;
}
#hoe-header.hoe-minimized-lpanel > .hoe-left-header {
    width: 50px;
}
#hoe-header.hoe-minimized-lpanel > .hoe-left-header > a > span {
    display: none;
}
#hoe-header.hoe-minimized-lpanel > .hoe-right-header {
  margin-left: 50px;
  padding-right:0px;
}
.hoe-minimized-lpanel #hoe-left-panel {
    width: 50px;
}
.hoe-minimized-lpanel #hoe-left-panel .profile-box {
    border-bottom: 0px solid #efefef;
}
.hoe-minimized-lpanel #hoe-left-panel .media-body {
    display: none;
}
.hoe-minimized-lpanel #hoe-left-panel .profile-box {
    padding: 5px;
}
.hoe-minimized-lpanel #hoe-left-panel .nav-level {
    display: none;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li > a span.menu-text {
    display: none;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > a:after {
    display: none;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li > a > i {
    display: inline;
    font-size: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li:hover > a,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li:focus > a {
    display: block;
    position: relative;
    width: 230px;
    margin-bottom: -1px;
    border-radius: 0px 4px 4px 0px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li:hover > a,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li:focus > a {
    border-radius: 0px 4px 4px 0px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:hover > a,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:focus > a {
    border-radius: 0px 4px 0px 0px;
    background: #f1f1f1;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li:hover > a span.menu-text,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li:focus > a span.menu-text {
    display: inline-block;
    position: absolute;
    left: 52px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list ul.hoe-sub-menu li {
    list-style: none;
}

.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {
    display: none !important;
    position: absolute;
    left: 50px;
    width: 180px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:hover > ul.hoe-sub-menu,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:focus > ul.hoe-sub-menu {
    display: block !important;
    border-right: 1px solid #efefef;
	width: 180px;
	left: 50px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu ul.hoe-sub-menu {
    display: none !important;
    position: absolute;
    width: 180px;
    left: 0;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:hover > ul.hoe-sub-menu ul.hoe-sub-menu,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:focus > ul.hoe-sub-menu ul.hoe-sub-menu {
    display: none !important;
    left: 0px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu:hover > ul.hoe-sub-menu,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu:focus > ul.hoe-sub-menu {
    display: block !important;
    position: relative;
    left: 0px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu:hover > ul.hoe-sub-menu,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu:focus > ul.hoe-sub-menu {
    display: block !important;
    position: relative;
    left: 0px;
}

.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu li.hoe-has-menu > a:after {
    display: none;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu li.hoe-has-menu > a:after {
    font-family: FontAwesome;
    content: "\f103";
    font-size: 15px;
    position: relative;
    float: right;
    display: block;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu li.hoe-has-menu:hover > a:after,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu li.hoe-has-menu:focus > a:after {
    font-family: FontAwesome;
    content: "\f102";
    font-size: 15px;
    position: relative;
    float: right;
    display: block;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list li.hoe-has-menu.active > li.active a .selected {
    display: block;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.active:hover > a .selected,
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.active:focus > a .selected {
    display: none;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu li > a span.menu-text {
    padding-left: 15px;
    position: relative;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    left: 4px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    left: 4px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list li .label {
    display: none;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list li:hover a .label {
    display: block;
    position: absolute;
    right: 5px;
    top: 10px;
}
.hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #f1f1f1;
    color: #000;
}
.hoe-minimized-lpanel #main-content {
    margin-left: 50px;
}
/****************** Minimized Left Panel Style Start Here *********************************/

/******************* 4.4 Theme Style for Phone start here***************************************/
 
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel #hoe-left-panel {
    display: none;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header{
	height:100px;
}
#hoeapp-wrapper[hoe-device-type="phone"] .hoe-left-header {
    width: 100%;
    float: none;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-left-panel[hoe-position-type="fixed"] {
  top: 100px;
}
#hoeapp-wrapper[hoe-device-type="phone"] .hoe-right-header {
    width: 100%;
	padding-left: 0px !important;
	position: relative;
	z-index: 999;
	top: 50px;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel #hoe-left-panel {display:none;}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel .hoe-right-header {
  margin-left: 0px;
}
#hoeapp-wrapper[hoe-device-type="phone"] .hoe-right-header {
  margin-left: 0px;
}

#hoeapp-wrapper[hoe-device-type="phone"] #hoe-left-panel {
    display: block;
    z-index: 1024;
}
#hoeapp-wrapper[hoe-device-type="phone"] #main-content {
    margin-left: 0px;
}



#hoeapp-wrapper[hoe-device-type="phone"] .hoe-left-header > .hoe-sidebar-toggle > a {
    display: block;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header > .hoe-right-header .hoe-sidebar-toggle a:after {
    display: none !important;
}
#hoeapp-wrapper[hoe-device-type="desktop"] .hoe-left-header .hoe-sidebar-toggle a:after {
    display: none !important;
}
#hoeapp-wrapper[hoe-device-type="tablet"] .hoe-left-header .hoe-sidebar-toggle a:after {
    display: none !important;
}
#hoeapp-wrapper[hoe-device-type="phone"] .hoe-left-header .hoe-sidebar-toggle a:after {
    background: transparent;
    border-radius: 4px;
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    left: 5px;
    line-height: 39px;
    padding: 1px 13px;
    position: absolute;
    top: 3px;
    z-index: 1000;
    display: block !important;
    color: #003c70;
    border: 0px solid #003c70;
    font-size: 14px;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel  #hoeapp-container[hoe-lpanel-effect="shrink"] #main-content {
  margin-left: 0px;
}
#hoeapp-wrapper[hoe-device-type="phone"]  #hoeapp-container[hoe-lpanel-effect="shrink"] #main-content {
  margin-left: 230px;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel  #hoeapp-container[hoe-lpanel-effect="overlay"] #main-content {
   margin-left: 0px;
}
#hoeapp-wrapper[hoe-device-type="phone"]  #hoeapp-container[hoe-lpanel-effect="overlay"] #main-content {
   margin-left: 0px;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel  #hoeapp-container[hoe-lpanel-effect="push"] #main-content {
   margin-left: 0px;
   margin-right: 0px;
}
#hoeapp-wrapper[hoe-device-type="phone"]  #hoeapp-container[hoe-lpanel-effect="push"] #main-content {
   margin-left: 230px;
   margin-right:-230px;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel #hoe-header[hoe-lpanel-effect="shrink"] .hoe-right-header[hoe-position-type="relative"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel #hoe-header[hoe-lpanel-effect="shrink"] .hoe-right-header[hoe-position-type="fixed"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-lpanel-effect="shrink"] .hoe-right-header[hoe-position-type="relative"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-lpanel-effect="shrink"] .hoe-right-header[hoe-position-type="fixed"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel #hoe-header[hoe-lpanel-effect="overlay"] .hoe-right-header[hoe-position-type="relative"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel #hoe-header[hoe-lpanel-effect="overlay"] .hoe-right-header[hoe-position-type="fixed"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"]#hoe-header[hoe-lpanel-effect="overlay"] .hoe-right-header[hoe-position-type="relative"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-lpanel-effect="overlay"] .hoe-right-header[hoe-position-type="fixed"] {
    margin-left: 0px;
	padding-right: 0;
}

#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel #hoe-header[hoe-lpanel-effect="push"] .hoe-right-header[hoe-position-type="relative"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"].hoe-hide-lpanel #hoe-header[hoe-lpanel-effect="push"] .hoe-right-header[hoe-position-type="fixed"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-lpanel-effect="push"] .hoe-right-header[hoe-position-type="relative"] {
    margin-left: 0px;
	padding-right: 0;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-lpanel-effect="push"] .hoe-right-header[hoe-position-type="fixed"] {
    margin-left: 0px;
	padding-right: 0;
}
/****************************** Theme Style for Phone Close here **********************************/

/*******************************main container Style Close Here ***********************************/

/****************************** Default Theme Style Close ******************************************/

/*Boxed Theme Layout Style Start*/
body[theme-layout="box-layout"] #hoeapp-wrapper[hoe-device-type="desktop"] {
	width:96%;
	margin:0 auto;
}
/*Boxed Theme Layout Style Close*/
 
/*Theme Background Color in Start */
body[theme-layout="box-layout"] #hoeapp-wrapper[hoe-device-type="desktop"]{
	margin:0 auto;
}
/*}*/
/*body[theme-bg="bg1"]{*/
	 /*background-image: url("../images/bg5.png");*/
/*}*/
/*body[theme-bg="bg2"]{*/
	 /*background-image: url("../images/bg2.png");*/
/*}*/
/*body[theme-bg="bg3"]{*/
	 /*background-image: url("../images/bg3.png");*/
/*}*/
/*body[theme-bg="bg4"]{*/
	 /*background-image: url("../images/bg4.png");*/
/*}*/
/*body[theme-bg="bg5"]{*/
	 /*background-image: url("../images/bg5.png");*/
/*}*/
/*body[theme-bg="bg6"]{*/
	 /*background-image: url("../images/bg6.png");*/
/*}*/
/*body[theme-bg="bg7"]{*/
	 /*background-image: url("../images/bg7.png");*/
/*}*/
/*body[theme-bg="bg8"]{*/
	 /*background-image: url("../images/bg8.png");*/
/*}*/
/*body[theme-bg="bg9"]{*/
	 /*background-image: url("../images/bg9.png");*/
/*}*/
/*Theme Background Color in Close */


/* Stats Dashborads panels styles */
.panel-blue {
    border-color: darkblue;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-blue > .panel-heading {
    border-color: darkblue;
    color: white;
    background-color: darkblue;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-blue:hover {
    border-color: #3252c2;
    transform: translateY(-5%);
}
.panel-blue:hover > .panel-heading {
    border-color: #3252c2;
    color: white;
    background-color: #3252c2;
}

.panel-green {
    border-color: green;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-green > .panel-heading {
    border-color: green;
    color: white;
    background-color: green;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-green:hover {
    border-color: #00a600;
    transition-duration: .3s;
    transform: translateY(-5%);
}
.panel-green:hover > .panel-heading {
    border-color: #00a600;
    background-color: #00a600;
}

.panel-yellow {
    border-color: darkorange;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-yellow > .panel-heading {
    border-color: darkorange;
    color: white;
    background-color: darkorange;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-yellow:hover {
    border-color: #ffb812;
    transition-duration: .3s;
    transform: translateY(-5%);
}

.panel-yellow:hover > .panel-heading {
    border-color: #ffb812;
    background-color: #ffb812;
}

.panel-red {
    border-color: #d9534f;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}

.panel-red:hover {
    border-color: #d9534f;
    transition-duration: .3s;
    transform: translateY(-5%);
}

.panel-red:hover > .panel-heading {
    border-color: #d9534f;
    background-color: #d9534f;
}

.panel-brown {
    border-color: saddlebrown;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-brown > .panel-heading {
    border-color: saddlebrown;
    color: white;
    background-color: saddlebrown;
}

.panel-brown:hover {
    border-color: saddlebrown;
    transition-duration: .3s;
    transform: translateY(-5%);
}

.panel-brown:hover > .panel-heading {
    border-color: saddlebrown;
    background-color: saddlebrown;
}

.panel-purple {
    border-color: purple;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.panel-purple > .panel-heading {
    border-color: mediumpurple;
    color: white;
    background-color: mediumpurple;
}

.panel-purple:hover {
    border-color: mediumpurple;
    transition-duration: .3s;
    transform: translateY(-5%);
}

.panel-purple:hover > .panel-heading {
    border-color: mediumpurple;
    background-color: mediumpurple;
}

.margin-row{
    margin: 2em 0;
}

/* Forms Styles */

.titleform {
    min-height: 20px;
    padding: 5px;
    margin-bottom: 2px;
    background-color: #cccccc;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.form-xs {
    width: 300px;
    min-height: 80px;
    margin: 20px auto;

}

.form-s {
    width: 450px;
    min-height: 100px;
    margin: 30px auto;

}

.form-m {
    width: 650px;
    min-height: 100px;
    margin: 30px auto;
}

.form-l {
    width: 850px;
    min-height: 100px;
    margin: 30px auto;
}

.form-xl {
    width: 1000px;
    min-height: 100px;
    margin: 30px auto;
}


form input, form select, form textarea {
    color: black;
    width: 100%;
    font-size: 14px;
    padding: 2px 4px;
    height: inherit;
}

.form-horizontal .control-group { margin-bottom: 6px; }

.pagination{
    margin: 0!important;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font17 {
    font-size: 17px;
}

.my-vertical-align {
    vertical-align: middle!important;
}

.imp-number { width: 100px;}

.imp-anio { width: 50px;}

.imp-cedula { width: 110px;}

.imp-email { width: 50%;}

.imp-10 { width: 10%;}

.imp-12 { width: 12%;}

.imp-15 { width: 15%;}

.imp-20 { width: 20%;}

.imp-25 { width: 25%;}

.imp-30 { width: 30%;}

.imp-50 { width: 50%;}

.imp-75 { width: 75%;}

.dropdown-menu{
    min-width: 120px!important;
}

.no-margin{
    margin: 0!important;
}

.margin-10{
    margin: 10px!important;
}

.myheading {
    font-weight: bold;
    color: darkblue;
    font-size: 2em;

}

.mysubheading {
    font-weight: bold;
    color: darkblue;
    font-size: 1em;
    margin-top: 1em;
}

.coolBorder {
    border: 2px solid black;
    padding: 50px;
    outline: black solid 5px;
    outline-offset: 5px;
}


.pinkBorder {
    border: 2px dashed pink;
    padding: 50px;
}


.insetBorder {
    border: 10px inset;
    padding: 50px;
}

.roundedBorder {
    /*border: 1px solid lightblue;*/
    border-radius: 17px;
    padding: 25px;
    border: 0;
}

.roundedBorder2 {
    /*border: 1px solid lightblue;*/
    border-radius: 17px;
    height: 17em;
    border: 0;
}

.margin-right{
    margin-right: 1em;
}

.myhuge{
    font-size: 4em;
    padding: 0.3em;
}

.mybig{
    font-size: 2.5em;
    padding: 0.3em;
}

/* My Progress Bar */
.progress {
  height: 35px;

}
.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

#chartdiv{
  width: 100%;
  height: 500px;
}

.amcharts-chart-div a {
    display:none !important;
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}