{% extends 'base.html' %}
{% load static %}

{% block heading %}
    <script>
        $("#job_requests").addClass("active");
    </script>
{% endblock %}

{% block canvas %}
    <div class="container-fluid">
        <div class="row margin-row">
            <p class="myheading"> <i class="fa fa-user"></i> {{ title }}</p>
            <table class="table table-bordered table-hover">
                <thead>
                <tr style="font-weight: bold; font-size: 1em; background-color: #043b8a; color: white">
                    <th style="width: 20px">Cod.</th>
                    <th style="width: 270px">Email</th>
                    <th style="width: 200px">Phone</th>
                    <th>Notes</th>
                    <th style="width: 100px" class="text-center">Created</th>
                    <th style="width: 50px"></th>
                </tr>
                </thead>
                <tbody>
                {% for j in job_requests %}
                    <tr>
                         <td class="my-vertical-align font14">{{ j.repr_id }}</td>
                        <td class="my-vertical-align font14">{{ j.email }}</td>
                        <td class="my-vertical-align font14">{{ j.phone }}</td>
                        <td class="my-vertical-align font12">{{ j.notes }}</td>
                        <td class="my-vertical-align text-center font12">{{ j.created_at|date:'m-d-Y' }}</td>
                        <td class="my-vertical-align text-center">
                            <a class="tu" href="{% url 'job_requests' %}?action=delete&id={{ j.id }}" title="Delete">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="alert alert-info">
                            <i>There are not job requests in the system</i>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-sm-12 text-right">
                    {% if paging.num_pages > 20 %}
                        <ul class="pagination">
                            {% if paging.first_page %}
                                <li><a href="{%  url 'job_requests' %}?page=1{% if search %}&s={{ search }}{% endif %}">1</a></li>
                                <li><a href="{%  url 'job_requests' %}?page={{ paging.ellipsis_left}}{% if search %}&s={{ search }}{% endif %}"
                                       class="active">...</a>
                                </li>
                            {% endif %}
                            {% for pagenumber in paging.pages %}
                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}>
                                    <a href="{%  url 'job_requests' %}?page={{ pagenumber }}{% if search %}&s={{ search }}{% endif %}">
                                        {{ pagenumber }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if paging.last_page %}
                                <li>
                                    <a href="{%  url 'job_requests' %}?page={{ paging.ellipsis_right }}{% if search %}&s={{ search }}{% endif %}"
                                       class="active">
                                        ...
                                    </a>
                                </li>
                                <li>
                                    <a href="{%  url 'job_requests' %}?page={{ paging.num_pages }}{% if search %}&s={{ search }}{% endif %}">
                                        {{ paging.num_pages }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <ul class='pagination pagination-sm'>
                            {% for pagenumber in paging.page_range %}
                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}>
                                    <a href="{%  url 'job_requests' %}?page={{ pagenumber }}{% if search %}&s={{ search }}{% endif %}">
                                        {{ pagenumber }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}