{% load static %}

<h4>COMPLETE WORK - HOP CONTRACTING APP</h4>

<p>
    <b>Congratulations!!!</b>
    <br/>
    We have received a notification that a job has been successfully completed.
</p>

<h4>WORK DETAILS</h4>
<p>Date:  {{ work.date|date:'m-d-Y' }} </p>
<p>Initial Time: {{ work.initial_time }} | Register Time: {{ work.register_time }} | End Time: {{ work.end_time }}) </p>
<p>Project:  {{ work.project }} </p>
<p>Customer:  {{ work.customer }} </p>
<p>Address:  {{ work.address }} </p>
<p>Leader:  {{ work.leader }} </p>
<p>Customer Evaluation: <b>{% if work.evaluation == 1 %} BAD {% elif work.evaluation == 2 %} REGULAR {% elif work.evaluation == 3 %} GOOD {% elif work.evaluation == 4 %} VERY GOOD {% elif work.evaluation == 5 %} EXCELLENT {% else%} NO EVALUATION {% endif %}</b></p>