{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOP Platform</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
{#    <link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">#}
    <link href="{% static 'css/fonts-googleapis.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/hoe.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body hoe-navigation-type="vertical-compact" hoe-nav-placement="left" style="background-color: white">

<div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">

    <header id="hoe-header" hoe-lpanel-effect="shrink" class="hoe-minimized-lpanel" hoe-color-type="logo-bg{{ myuser.color_hoe_header }}">

        {% if is_administrator %}
            <div class="hoe-left-header">
                <a href="javascript:void(0)">
                    <i class="fa fa-certificate"></i>
                    <span>HOP Contracting</span>
                </a>
                <span class="hoe-sidebar-toggle">
                    <a href="javascript:void(0)"></a>
                </span>
            </div>

        {% endif %}

        <div class="hoe-right-header" hoe-position-type="relative" hoe-color-type="header-bg{{ myuser.color_hoe_right_header }}">

            {% if is_administrator %}
                <span class="hoe-sidebar-toggle">
                    <a href="javascript:void(0)"></a>
                </span>

            {% endif %}

            <ul class="right-navbar">
                <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <span><img class="img-circle " style="width: 30px!important; height: 30px!important;" src="{% if myuser.avatar %}{{ myuser.download_avatar }}{% else %}{% endif %}"></span>
                        <span style="margin-left: 1em">{{ myuser.user.first_name }} <b>{{ myuser.user.last_name }}</b> <i class=" fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>Logout</a></li>
                        {#  <li><a href="javascript:void(0)"><i class="fa fa-lock"></i>Change Password</a></li>#}
                    </ul>
                </li>
            </ul>

        </div>
    </header>

    <div id="hoeapp-container" hoe-lpanel-effect="shrink" class="hoe-minimized-lpanel" hoe-color-type="lpanel-bg{{ myuser.color_hoeapp_container }}">

        {% if is_administrator %}
            <aside id="hoe-left-panel" hoe-position-type="absolute">
            <div class="profile-box">
                <div class="media">
                    <a class="pull-left" href="javascript:void(0)">
                        <img class="img-circle" src="{{ myuser.download_avatar }}">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">
                            Welcome <span>{{ myuser }}</span>
                        </h5>
                        <small>{{ myuser.user_group_name }}</small>
                    </div>
                </div>
            </div>
            <ul class="nav panel-list">
                <li class="nav-level">Navigation</li>
                <li id="dashboard" class="menu-principal">
                    <a href="{% url 'dashboard' %}">
                        <i class="fa fa-tachometer"></i>
                        <span class="menu-text">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li id="works" class="menu-principal">
                    <a href="{% url 'works' %}">
                        <i class="fa fa-briefcase"></i>
                        <span class="menu-text">Works</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li class="nav-level">Entities</li>

                <li id="projects" class="menu-principal">
                    <a href="{% url 'projects' %}">
                        <i class="fa fa-files-o"></i>
                        <span class="menu-text">Projects</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li id="projects" class="menu-principal">
                    <a href="{% url 'properties' %}">
                        <i class="fa fa-home"></i>
                        <span class="menu-text">Properties</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li id="customers" class="menu-principal">
                    <a href="{% url 'customers' %}">
                        <i class="fa fa-users"></i>
                        <span class="menu-text">Customers</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li id="jobtypes" class="menu-principal">
                    <a href="{% url 'jobtypes' %}">
                        <i class="fa fa-list"></i>
                        <span class="menu-text">Job types</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li id="users" class="menu-principal">
                    <a href="{% url 'users' %}">
                        <i class="fa fa-user"></i>
                        <span class="menu-text">Users</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li id="job_requests" class="menu-principal">
                    <a href="{% url 'job_requests' %}">
                        <i class="fa fa-gear"></i>
                        <span class="menu-text">Job Requests</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li class="hoe-has-menu">
                    <a href="javascript:void(0)">
                        <i class="fa fa-bar-chart"></i>
                        <span class="menu-text">Reports</span>
                        <span class="selected"></span>
                    </a>
                    <ul class="hoe-sub-menu">
                        <li id="reports_complete_works">
                            <a href="{% url 'reports' %}?action=complete_incomplete_works">
                                <span class="menu-text">Complete Works</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li id="reports_evaluation_works">
                            <a href="{% url 'reports' %}?action=evaluation_works">
                                <span class="menu-text">Evaluation Works</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li id="reports_jobtypes_works">
                            <a href="{% url 'reports' %}?action=jobtypes_works">
                                <span class="menu-text">Job Types</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li id="reports_workers_perfomances">
                            <a href="{% url 'reports' %}?action=workers_perfomances">
                                <span class="menu-text">Workers Perfomances</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li id="reports_workers_track">
                            <a href="{% url 'reports' %}?action=workers_track" target="_blank">
                                <span class="menu-text">Workers Track</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        {% endif %}

        <!-- Main CONTENT CANVAS -->
        <section id="main-content" style="background-color: white">
            {% block canvas %}{% endblock %}
        </section>

        <div id="styleSelector">

            <div class="selector-toggle">
                <a href="javascript:void(0)"></a>
            </div>

            <ul>
                <li>
                    <p class="selector-title">Style Selector</p>
                </li>
                {% if is_administrator %}
                    <li class="theme-option">
                        <span class="sub-title">Logo Color BG Option</span>
                        <div id="theme-color">
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg1">&nbsp;</a>
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg2">&nbsp;</a>
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg3">&nbsp;</a>
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg4">&nbsp;</a>
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg5">&nbsp;</a>
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg6">&nbsp;</a>
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg7">&nbsp;</a>
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg8">&nbsp;</a>
                            <a href="javascript:void(0)" class="logo-bg" hoe-color-type="logo-bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Left Panel BG Color Option</span>
                        <div id="theme-color">
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg1">&nbsp;</a>
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg2">&nbsp;</a>
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg3">&nbsp;</a>
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg4">&nbsp;</a>
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg5">&nbsp;</a>
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg6">&nbsp;</a>
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg7">&nbsp;</a>
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg8">&nbsp;</a>
                            <a href="javascript:void(0)" class="lpanel-bg" hoe-color-type="lpanel-bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <p class="selector-title"></p>
                    </li>
                {% endif %}
                <li class="theme-option">
                    <span class="sub-title">Header BG Color Option</span>
                    <div id="theme-color">
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg1">&nbsp;</a>
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg2">&nbsp;</a>
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg3">&nbsp;</a>
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg4">&nbsp;</a>
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg5">&nbsp;</a>
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg6">&nbsp;</a>
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg7">&nbsp;</a>
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg8">&nbsp;</a>
                        <a href="javascript:void(0)" class="header-bg" hoe-color-type="header-bg9">&nbsp;</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/hoe.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/progressbar.min.js' %}"></script>

<script>

    $(".tl").tooltip({placement:"left"});
    $(".tu").tooltip({placement:"top"});
    $(".tr").tooltip({placement:"right"});
    $(".tb").tooltip({placement:"bottom"});

    // Always remove the class active for all the menu
    $(".menu-principal").removeClass("active");

</script>

{% block heading %}
{% endblock %}

</body>

</html>