{% extends 'base.html' %}
{% load static %}

{% block heading %}

    <style>

        .progressbar-text{
            left: 49%!important;
            top: 58%!important;
        }

        .title_jobtype {
            color: darkblue;
            font-weight: 700;
        }

    </style>

    <script>

        var bar1 = new ProgressBar.Circle(container_jobtypes1, {
            color: 'darkblue',
            strokeWidth: 10,
            trailWidth: 1,
            easing: 'easeInOut',
            duration: 4000,
            text: {
                autoStyleContainer: false
            },
            from: { color: '#1a5276', width: 1 },
            to: { color: '#3498db', width: 5 },
            step: function(state, circle) {
                circle.path.setAttribute('stroke', state.color);
                circle.path.setAttribute('stroke-width', state.width);
                circle.setText({{ jobtype_value_1 }});
            }
        });
        bar1.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar1.text.style.fontSize = '3em';
        bar1.animate(1.0);

        var bar2 = new ProgressBar.Circle(container_jobtypes2, {
            color: 'darkblue',
            strokeWidth: 10,
            trailWidth: 1,
            easing: 'easeInOut',
            duration: 4000,
            text: {
                autoStyleContainer: false
            },
            from: { color: '#1a5276', width: 1 },
            to: { color: '#3498db', width: 5 },
            step: function(state, circle) {
                circle.path.setAttribute('stroke', state.color);
                circle.path.setAttribute('stroke-width', state.width);
                circle.setText({{ jobtype_value_2 }});
            }
        });
        bar2.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar2.text.style.fontSize = '3em';
        bar2.animate(1.0);

        var bar3 = new ProgressBar.Circle(container_jobtypes3, {
            color: 'darkblue',
            strokeWidth: 10,
            trailWidth: 1,
            easing: 'easeInOut',
            duration: 4000,
            text: {
                autoStyleContainer: false
            },
            from: { color: '#1a5276', width: 1 },
            to: { color: '#3498db', width: 5 },
            step: function(state, circle) {
                circle.path.setAttribute('stroke', state.color);
                circle.path.setAttribute('stroke-width', state.width);
                circle.setText({{ jobtype_value_3 }});
            }
        });
        bar3.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar3.text.style.fontSize = '3em';
        bar3.animate(1.0);

        var bar4 = new ProgressBar.Circle(container_jobtypes4, {
            color: 'darkblue',
            strokeWidth: 10,
            trailWidth: 1,
            easing: 'easeInOut',
            duration: 4000,
            text: {
                autoStyleContainer: false
            },
            from: { color: '#1a5276', width: 1 },
            to: { color: '#3498db', width: 5 },
            step: function(state, circle) {
                circle.path.setAttribute('stroke', state.color);
                circle.path.setAttribute('stroke-width', state.width);
                circle.setText({{ jobtype_value_4 }});

            }
        });
        bar4.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar4.text.style.fontSize = '3em';
        bar4.animate(1.0);

        var bar5 = new ProgressBar.Circle(container_jobtypes5, {
            color: 'darkblue',
            strokeWidth: 10,
            trailWidth: 1,
            easing: 'easeInOut',
            duration: 4000,
            text: {
                autoStyleContainer: false
            },
            from: { color: '#1a5276', width: 1 },
            to: { color: '#3498db', width: 5 },
            step: function(state, circle) {
                circle.path.setAttribute('stroke', state.color);
                circle.path.setAttribute('stroke-width', state.width);
                circle.setText({{ jobtype_value_5 }});

            }
        });
        bar5.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar5.text.style.fontSize = '3em';
        bar5.animate(1.0);

        var bar6 = new ProgressBar.Circle(container_jobtypes6, {
            color: 'darkblue',
            strokeWidth: 10,
            trailWidth: 1,
            easing: 'easeInOut',
            duration: 4000,
            text: {
                autoStyleContainer: false
            },
            from: { color: '#1a5276', width: 1 },
            to: { color: '#3498db', width: 5 },
            step: function(state, circle) {
                circle.path.setAttribute('stroke', state.color);
                circle.path.setAttribute('stroke-width', state.width);
                circle.setText({{ jobtype_value_6 }});
            }
        });
        bar6.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar6.text.style.fontSize = '3em';
        bar6.animate(1.0);

        // Others elements and links
        $(".menu-principal").removeClass("active");
        $("#dashboard").addClass("active");

    </script>

{% endblock %}

{% block canvas %}

    <div class="container-fluid">
        <div class="row margin-row">

{#            <div class="col-sm-4">#}
{#                <div class="panel panel-brown">#}
{#                    <div class="panel-heading">#}
{#                        <a href="{% url 'projects' %}" style="text-decoration: none; color: #FFF">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-3">#}
{#                                    <i class="fa fa-files-o fa-5x"></i>#}
{#                                </div>#}
{#                                <div class="col-xs-9 text-right">#}
{#                                    <div class="myhuge">{{ number_projects }}</div>#}
{#                                    <div class="mybig">Projects</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="col-sm-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <a href="{% url 'works' %}" style="text-decoration: none; color: #FFF">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-briefcase fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="myhuge">{{ number_works }}</div>
                                    <div class="mybig">Works</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <a href="{% url 'customers' %}" style="text-decoration: none; color: #FFF">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="myhuge">{{ number_customers }}</div>
                                    <div class="mybig">Customers</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- end first main row -->

        <div class="row margin-row" style="margin-top: -2em">
            <div class="col-sm-12">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-table"></i> Projects by Job Types
                    </div>
                    <div class="panel-body">

                        <div class="col-md-2">
                            <h5 class="text-center title_jobtype">{{ jobtype_name_1 }}</h5>
                            <div id="container_jobtypes1"></div>
                        </div>

                        <div class="col-md-2">
                            <h5 class="text-center title_jobtype">{{ jobtype_name_2 }}</h5>
                            <div id="container_jobtypes2"></div>
                        </div>

                        <div class="col-md-2">
                            <h5 class="text-center title_jobtype">{{ jobtype_name_3 }}</h5>
                            <div id="container_jobtypes3"></div>
                        </div>

                        <div class="col-md-2">
                            <h5 class="text-center title_jobtype">{{ jobtype_name_4 }}</h5>
                            <div id="container_jobtypes4"></div>
                        </div>

                        <div class="col-md-2">
                            <h5 class="text-center title_jobtype">{{ jobtype_name_5 }}</h5>
                            <div id="container_jobtypes5"></div>
                        </div>

                        <div class="col-md-2">
                            <h5 class="text-center title_jobtype">{{ jobtype_name_6 }}</h5>
                            <div id="container_jobtypes6"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row margin-row" style="margin-top: -2em">

            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-table"></i> Last 5 works
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive table-condensed">
                            <thead>
                            <tr>
                                <th>Address</th>
                                <th style="width: 20%">Date</th>
                                <th style="width: 10%" class="text-center">Done?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for last_work in last_five_works %}
                                <tr>
                                    <td>{{ last_work.address }}</td>
                                    <td>{{ last_work.date|date:'m-d-Y' }}</td>
                                    <td class="text-center">
                                        {% if last_work.is_completed %}
                                            <img src="{% static 'images/check.ico' %}" width="20px" height="20px"/>
                                        {% else %}
                                            <img src="{% static 'images/uncheck.png' %}" width="20px" height="20px"/>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-table"></i> Last 5 evaluations
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive table-condensed">
                            <thead>
                            <tr>
                                <th>Customer</th>
                                <th style="width: 45%">Email</th>
                                <th style="width: 25%" class="text-center">Rating</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for last_work in last_five_works %}
                                <tr>
                                    <td>{{ last_work.customer.name }}</td>
                                    <td>{{ last_work.customer.email }}</td>
                                    <td class="text-center">
                                        {% if last_work.evaluation == 1 %}
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                        {% elif last_work.evaluation == 2 %}
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                        {% elif last_work.evaluation == 3 %}
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                        {% elif last_work.evaluation == 4 %}
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                        {% elif last_work.evaluation == 5 %}
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star1.png' %}" style="width: 20px" height="20px">
                                        {% else %}
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                            <img src="{% static 'images/star0.png' %}" style="width: 20px" height="20px">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>  <!-- end second main row -->

    </div> <!-- end of container -->

{% endblock %}