{% extends 'base.html' %}
{% load static %}

{% block heading %}
    <script>
        $(".menu-principal").removeClass("active");
        $("#users").addClass("active");

        $("#btn-search").click(function () {
            var search = $('#input-search').val();
            if (search){
                location.href = "{% url 'users' %}?s="+search;
            }
        });

        $('#input-search').keyup(function(e) {
            if(e.keyCode === 13) {
                $("#btn-search").trigger("click");
            }
        });

    </script>
{% endblock %}

{% block canvas %}
    <div class="container-fluid">
        <div class="row margin-row">

            <div class="col-sm-8">
                <a class="btn btn-success tu" href="{% url 'users' %}?action=add" title="Add User">
                    <i class="fa fa-plus"></i>
                </a>
                <span class="myheading">
                    {{ title }}
                </span>
            </div>

            <div class="col-sm-4 text-right">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="search"></label>
                        <div class="input-group">
                            <input class="form-control" id="input-search" placeholder="Search users" value="{% if search %}{{ search }}{% endif %}">
                        </div>
                    </div>
                    <a id="btn-search" class="btn btn-info" title="Search"><i class="fa fa-search"></i></a>
                    {% if search %}<a href="{% url 'users' %}" class="btn btn-info" title="All"><i class="fa fa-list-alt"></i></a>{% endif %}
                </form>
            </div>
        </div>

        <div class="row margin-row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr style="font-weight: bold; font-size: 1em; background-color: #043b8a; color: white">
                    <th style="width: 80px" class="text-center"></th>
                    <th style="width: 150px">User</th>
                    <th>Name</th>
                    <th style="width: 250px">Email</th>
                    <th style="width: 100px" class="text-center">Phone</th>
                    <th style="width: 50px" class="text-center">Works</th>
                    <th style="width: 50px" class="text-center">Comp.</th>
                    <th style="width: 50px" class="text-center">Incomp.</th>
                    <th style="width: 80px" class="text-center">Created</th>
                    <th style="width: 80px"></th>
                </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr>
                        <td class="text-center">
                            {% if u.avatar %}
                                <img class="main" src="{{ u.download_avatar }}" width="40px" height="40px"/>
                            {% else %}
                                <img class="main" src="{% static 'images/avatar.png' %}" width="40px" height="40px" />
                            {% endif %}
                        </td>
                        <td class="my-vertical-align font12">
                            {{ u.user.username }}
                            <br/><span class="label label-info" style="font-size: 0.7em">{{ u.user_group_name }}</span>
                        </td>
                        <td class="my-vertical-align font12">{{ u.user.first_name }} {{ u.user.last_name }}</td>
                        <td class="my-vertical-align font12">{{ u.user.email }}</td>
                        <td class="my-vertical-align font12">{{ u.phone|default_if_none:'' }}</td>
                        <td class="my-vertical-align text-center font14">
                            {{ u.get_number_works|floatformat:0 }}
                        </td>
                        <td class="my-vertical-align text-center font14">
                            {{ u.get_number_works_completed|floatformat:0 }}
                        </td>
                        <td class="my-vertical-align text-center font14">
                            {{ u.get_number_works_incompleted|floatformat:0 }}
                        </td>
                        <td class="my-vertical-align text-center font12">{{ u.created_at|date:'m-d-Y' }}</td>
                        <td class="my-vertical-align text-center">
                            <a class="tu" href="{% url 'users' %}?action=edit&id={{ u.id }}" title="Edit"><i class="fa fa-pencil"></i></a>
{#                            {% if not u.has_relations %}#}
                                <a class="tu" href="{% url 'users' %}?action=delete&id={{ u.id }}" title="Delete" style="margin-left: 0.2em"><i class="fa fa-times"></i></a>
{#                            {% endif %}#}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10" class="alert alert-info">
                            <i>There are not users in the system. Click in the <strong>+ Add User</strong> button to add your first user</i>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}