{% extends "forms.html" %}

{% block extraheading %}
    <style>

        #id_project, #id_customer {
            height: 2.5em;
        }

        textarea {
            resize: none;
        }
    </style>
    <script>

        $("#works").addClass("active");

        $("#id_date").mask('00-00-0000').datepicker({format:"mm-dd-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide');});

        $('#id_initial_time').mask('00:00');

        $('#id_property').empty();

        $("#id_project").change(function () {

            var elem = $('#id_property');
            var projectid = $(this).val();

            elem.empty().append('<option value="">---------</option>').val(0);
            if (projectid){
                $.ajax({
                    type: "POST",
                    url: "{% url 'works' %}",
                    data: {'action': 'get_properties_from_project', 'pid': projectid},
                    success: function (data) {
                        if (data.result === 'ok') {
                            for (var i in data.lista) {
                                elem.append('<option value="' + data.lista[i][0] + '">' + data.lista[i][1] + '</option>');
                            }
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function () {
                        alert("Server error");
                    },
                    dataType: "json"
                });
            }

        });

        show_new_customers_elements = function () {
            $("#id_customer_name").parent().parent().show();
            $("#id_customer_email").parent().parent().show();
            $("#id_customer_phone").parent().parent().show();
        };

        hide_new_customers_elements = function () {
            $("#id_customer_name").parent().parent().hide();
            $("#id_customer_email").parent().parent().hide();
            $("#id_customer_phone").parent().parent().hide();
        };

        // Inicialization of new customers data (by default)
        hide_new_customers_elements();

        $("#id_customer").change(function () {
           var customer_id = $(this).val();
           if (customer_id){
               if (customer_id === '{{ customer_create_new_customer_id }}'){
                   show_new_customers_elements();
               }else{
                   hide_new_customers_elements();
               }
           }else{
               alert('Please Select one of the customer options');
               hide_new_customers_elements();
           }
        });

    </script>
{% endblock %}

{% block form-title %}{{ title }}{% endblock %}
{% block form-action %}{% url 'works' %}{% endblock %}
{% block form-width %}form-m{% endblock %}

{% block form-extra %}
    <input type='hidden' name='action' value='add'/>
{% endblock %}
{% block form-back %}{% url 'works' %}{% endblock %}