{% extends "forms.html" %}

{% block extraheading %}
    <script>
        $("#works").addClass("active");
    </script>
{% endblock %}

{% block form-title %}{{ title }}{% endblock %}
{% block form-action %}{% url 'works' %}{% endblock %}
{% block form-extra %}
    <input type='hidden' name='action' value='delete'/>
    <input type='hidden' name='id' value='{{ work.id }}'/>
{% endblock %}
{% block form-back %}{% url 'works' %}{% endblock %}
{% block form-object %}{{ work }}{% endblock %}
{% block buttonname %}YES{% endblock %}
{% block buttoncancel %}NO{% endblock %}