{% extends 'base.html' %}
{% load static %}

{% block heading %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}" />

    <script>
        $("#works").addClass("active");
    </script>
{% endblock %}

{% block canvas %}
    <div class="container-fluid">

        <div class="row margin-row">
            <div class="col-sm-10">
                <p class="myheading">
                    Work: {{ work.address }}
                </p>
                <p class="mysubheading">
                    Project: {{ work.project }} &nbsp; (Start: {{ work.initial_time }} | Register: {{ work.register_time }} | End: {{ work.end_time }})
                </p>
            </div>
            <div class="col-sm-2 text-right">
                <a href="{% url 'works' %}" class="btn btn-info btn-sm"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>

        <div class="row margin-row">

            <div class="col-sm-8">
                <div class="panel panel-primary" style="border: 0">

                    <div class="panel-heading">
                        SUMMARY
                    </div>

                    <div class="panel-body">
                        <p class="label label-info" style="position: relative; top: 17px">Report</p>
                        <div class="roundedBorder">
                            {{ work.report }}
                        </div>

                        <p class="label label-info" style="position: relative; top: 17px">Pictures</p>
                        <div class="roundedBorder">
                            <ul class="lb-album">
                                <li>
                                    <a href="#image-1">
                                        <img src="{% if work.photo1 %}{{ work.download_photo1 }}{% else %}{% static 'images/photo_logo.png' %}{% endif %}" alt="image01" width="150px" height="150px">
                                        <span>Photo 1</span>
                                    </a>
                                    <div class="lb-overlay" id="image-1">
                                        <img src="{% if work.photo1 %}{{ work.download_photo1 }}{% else %}{% static 'images/photo_logo.png' %}{% endif %}" alt="image01" />
                                        <div>
                                            <h4>Photo 1</h4>
                                            <a href="#image-4" class="lb-prev">Prev</a>
                                            <a href="#image-2" class="lb-next">Next</a>
                                        </div>
                                        <a href="#page" class="lb-close">Close</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#image-2">
                                        <img src="{% if work.photo2 %}{{ work.download_photo2 }}{% else %}{% static 'images/photo_logo.png' %}{% endif %}" alt="image02" width="150px" height="150px">
                                        <span>Photo 2</span>
                                    </a>
                                    <div class="lb-overlay" id="image-2">
                                        <img src="{% if work.photo2 %}{{ work.download_photo2 }}{% else %}{% static 'images/photo_logo.png' %}{% endif %}" alt="image02" />
                                        <div>
                                            <h4>Photo 2</h4>
                                            <a href="#image-1" class="lb-prev">Prev</a>
                                            <a href="#image-3" class="lb-next">Next</a>
                                        </div>
                                        <a href="#page" class="lb-close">Close</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#image-3">
                                        <img src="{% if work.photo3 %}{{ work.download_photo3 }}{% else %}{% static 'images/photo_logo.png' %}{% endif %}" alt="image03" width="150px" height="150px">
                                        <span>Photo 3</span>
                                    </a>
                                    <div class="lb-overlay" id="image-3">
                                        <img src="{% if work.photo3 %}{{ work.download_photo3 }}{% else %}{% static 'images/photo_logo.png' %}{% endif %}" alt="image03" />
                                        <div>
                                            <h4>Photo 3</h4>
                                            <a href="#image-2" class="lb-prev">Prev</a>
                                            <a href="#image-4" class="lb-next">Next</a>
                                        </div>
                                        <a href="#page" class="lb-close">Close</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#image-4">
                                        <img src="{% if work.photo4 %}{{ work.download_photo4 }}{% else %}{% static 'images/photo_logo.png' %}{% endif %}" alt="image04" width="150px" height="150px">
                                        <span>Photo 4</span>
                                    </a>
                                    <div class="lb-overlay" id="image-4">
                                        <img src="{% if work.photo4 %}{{ work.download_photo4 }}{% else %}{% static 'images/photo_logo.png' %}{% endif %}" alt="image04" />
                                        <div>
                                            <h4>Photo 4</h4>
                                            <a href="#image-3" class="lb-prev">Prev</a>
                                            <a href="#image-1" class="lb-next">Next</a>
                                        </div>
                                        <a href="#page" class="lb-close">Close</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <p class="label label-info" style="position: relative; top: 17px">Team</p>
                        <div class="roundedBorder">
                            <img class="img-circle" src="{% if work.leader and work.leader.avatar %}{{ work.leader.download_avatar }}{% else %}{% static 'images/avatar.png' %}{% endif %}" width="50px" height="50px">
                            <span class="margin-right">{{ work.leader }} (LEAD) </span>

                            {% if work.support1 %}
                                <img class="img-circle" src="{% if work.support1.avatar %}{{ work.support1.download_avatar }}{% else %}{% static 'images/avatar.png' %}{% endif %}" width="50px" height="50px">
                                <span class="margin-right">{{ work.support1 }}</span>
                            {% endif %}

                            {% if work.support2 %}
                                <img class="img-circle" src="{% if work.support2.avatar %}{{ work.support2.download_avatar }}{% else %}{% static 'images/avatar.png' %}{% endif %}" width="50px" height="50px">
                                <span class="margin-right">{{ work.support2 }}</span>
                            {% endif %}

                            {% if work.support3 %}
                                <img class="img-circle" src="{% if work.support3.avatar %}{{ work.support3.download_avatar }}{% else %}{% static 'images/avatar.png' %}{% endif %}" width="50px" height="50px">
                                <span class="margin-right">{{ work.support3 }}</span>
                            {% endif %}

                            {% if work.support4 %}
                                <img class="img-circle" src="{% if work.support4.avatar %}{{ work.support4.download_avatar }}{% else %}{% static 'images/avatar.png' %}{% endif %}" width="50px" height="50px">
                                <span class="margin-right">{{ work.support4 }}</span>
                            {% endif %}

                            {% if work.support5 %}
                                <img class="img-circle" src="{% if work.support5.avatar %}{{ work.support5.download_avatar }}{% else %}{% static 'images/avatar.png' %}{% endif %}" width="50px" height="50px">
                                <span class="margin-right">{{ work.support5 }}</span>
                            {% endif %}

                        </div>

                    </div> <!-- end panel-body -->
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-primary" style="border: 0">
                    <div class="panel-heading">
                        FEEDBACK
                    </div>
                    <div class="panel-body">
                        <p class="label label-info" style="position: relative; top: 17px">Customer</p>
                        <div class="roundedBorder">
                            <table>
                                <tr>
                                    <td style="width: 30%; font-weight: bold; color: black"><b>Name</b></td>
                                    <td>{{ work.customer.name }}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; color: black">Email</td>
                                    <td>{{ work.customer.email }}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; color: black">Phone</td>
                                    <td>{{ work.customer.phone }}</td>
                                </tr>
                            </table>
                        </div>
                        <!-- Customer Sign -->
                        <p class="label label-info" style="position: relative; top: 17px">Signature</p>
                        <div class="roundedBorder text-center">
                            <img src="{% if work.sign %}{{ work.download_signature }}{% else %}{% static 'images/no_sign.png' %}{% endif %}" width="170px" height="170px">
                        </div>

                        <p class="label label-info" style="position: relative; top: 17px">Evaluation</p>
                        <div class="roundedBorder text-center">
                            {% if work.evaluation == 1 %}
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                            {% elif work.evaluation == 2 %}
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                            {% elif work.evaluation == 3 %}
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                            {% elif work.evaluation == 4 %}
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                            {% elif work.evaluation == 5 %}
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                                <img src="{% static 'images/star1.png' %}">
                            {% else %}
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                                <img src="{% static 'images/star0.png' %}">
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}