{% extends 'base.html' %}
{% load static %}

{% block heading %}
    <script>

        $("#works").addClass("active");

        $("#search-initial-date, #search-end-date").mask('00-00-0000').datepicker({format:"mm-dd-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide');});

        show_loading = function () {

             $.blockUI({
                message: '<img src="/static/images/loading.gif" style="width:170px; height:170px" />',
                css: {
                    border:     'none',
                    backgroundColor:'transparent'
                }
            });

        };

        $("#btn-clean-search").click(function () {

            show_loading();

            setTimeout(function () {
                location.href = "{% url 'works' %}";
            }, 1000);

        });

        $("#btn-search").click(function () {

            show_loading();

            var sel_project = $('#search-projects').val();
            var sel_jobtype = $('#search-jobtypes').val();
            var sel_team = $('#search-teams').val();
            var sel_creator = $('#search-creator').val();
            var sel_status = $('#search-statuses').val();
            var sel_initial_date = $('#search-initial-date').val();
            var sel_end_date = $('#search-end-date').val();
            var input_code = $('#search-code').val();
            var input_installation_code = $('#search-installation-code').val();
            var input_address = $('#search-address').val();

            setTimeout(function () {
                location.href = "{% url 'works' %}?project="+sel_project+'&jobtype='+sel_jobtype+'&team='+sel_team+'&creator='+sel_creator+'&status='+sel_status+'&idate='+sel_initial_date+'&edate='+sel_end_date+'&code='+input_code+'&icode='+input_installation_code+'&address='+input_address;
            }, 2000);

        });

        $('#search-code-address').keyup(function(e) {
            if(e.keyCode === 13) {
                $("#btn-search").trigger("click");
            }
        });

        // Modal for Notes
        $(".btn-notes").click(function () {
            var elem = $("#modal-notes");
            var code = $(this).attr('code');
            var notes = $(this).attr('notes');
            $('#modal-code').html("Code: " + code);
            $('#modal-text').html(notes);
            elem.modal('show');
            return false;
        });

        $("#modal-notes").find(".btn-close").click(function () {
            $("#modal-notes").modal('hide');
            return false;
        });
        // End Modal for Notes

        // Toggle for Search div
        $("#show-search").click(function() {
            $("#filters-search").slideToggle('2000');
        });

    </script>

{% endblock %}

{% block canvas %}
    <div class="container-fluid">

        <div class="row margin-row">
            <div class="col-sm-7">
                <p class="myheading">
                    <i class="fa fa-briefcase"></i> {{ title }}
                </p>
            </div>

            <div class="col-sm-5 text-right" style="margin-top: 17px">
                <a id="show-search" style="font-size: 1.2em; cursor: pointer; text-decoration: none">
                    <i class="fa fa-search"></i> Advanced Search
                </a>
                {% if is_hotwire %}
                    <a href="{% url 'works' %}?action=customer_reports" title="Chart" style="margin-left: 1em; font-size: 1.2em; cursor: pointer; text-decoration: none">
                        <i class="fa fa-bar-chart"></i> Reports
                    </a>
                {% endif %}
            </div>

            <div id="filters-search" style="display: none; margin-top: 5em" class="well">

                <div class="row">

                    <div class="col-sm-12">

                        <div class="col-sm-3">
                            <label for="search-projects">By Projects</label>
                            <select class="form-control" id="search-projects" style="width: 100%; height: 2.5em">
                                <option value="0">All Projects</option>
                                {% for project in projects %}
                                    <option value="{{ project.id }}" {% ifequal projectid project.id %}selected{% endifequal %}>{{ project }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <label for="search-jobtypes">By JobTypes</label>
                            <select class="form-control" id="search-jobtypes" style="width: 100%; height: 2.5em">
                                <option value="0">All Job Types</option>
                                {% for jobtype in jobtypes %}
                                    <option value="{{ jobtype.id }}" {% ifequal jobtypeid jobtype.id %}selected{% endifequal %}>{{ jobtype }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <label for="search-teams">By Technician</label>
                            <select class="form-control" id="search-teams" style="width: 100%; height: 2.5em">
                                <option value="0">All Technicians</option>
                                {% for team in teams %}
                                    <option value="{{ team.id }}" {% ifequal teamid team.id %}selected{% endifequal %}>{{ team }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <label for="search-statuses">By Status</label>
                            <select class="form-control" id="search-statuses" style="width: 100%; height: 2.5em">
                                <option value="0" {% ifequal statusid '0' %}selected{% endifequal %}>All Status</option>
                                <option value="1" {% ifequal statusid '1' %}selected{% endifequal %}>Complete</option>
                                <option value="2" {% ifequal statusid '2' %}selected{% endifequal %}>Pending</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="row" style="margin-top: 1em">

                    <div class="col-sm-12">

                        <div class="col-sm-2">
                            <label for="search-creator">By Creator</label>
                            <select class="form-control" id="search-creator" style="width: 100%; height: 2.5em">
                                <option value="0">All Users</option>
                                {% for creator in creators %}
                                    <option value="{{ creator.id }}" {% ifequal creatorid creator.id %}selected{% endifequal %}>{{ creator }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <label for="search-initial-date"> Initial Date:
                                <input class="form-control" value="{% if initial_date %}{{ initial_date|date:'m-d-Y' }}{% endif %}" id="search-initial-date" style="height: 2.5em; margin-top: 5px"/>
                            </label>
                        </div>
                        <div class="col-sm-2" style="margin-left: -1em">
                            <label for="search-end-date">End Date:
                                <input class="form-control" value="{% if end_date %}{{ end_date|date:'m-d-Y' }}{% endif %}" id="search-end-date" style="height: 2.5em; margin-top: 5px"/>
                            </label>
                        </div>

                        <div class="col-sm-4">
                            <label for="search-address"> By Address:
                                <input class="form-control" style="width: 350px; border-radius: 10px; margin-top: 0.4em" id="search-address" value="{% if address %}{{ address }}{% endif %}">
                            </label>
                        </div>

                        <div class="col-sm-1">
                            <label for="search-code"> By ID:
                                <input class="form-control" style="border-radius: 10px; margin-top: 0.4em" id="search-code" value="{% if code %}{{ code }}{% endif %}">
                            </label>
                        </div>

                        <div class="col-sm-1">
                            <label for="search-installation-code"> By Code:
                                <input class="form-control" style="border-radius: 10px; margin-top: 0.4em; text-transform: uppercase" id="search-installation-code" value="{% if installation_code %}{{ installation_code }}{% endif %}">
                            </label>
                        </div>

                    </div>

                </div>

                <div class="row" style="margin-top: 1.3em">

                    <div class="col-sm-12 text-center">
                        <a id="btn-search" href="javascript:void(0);" class="btn btn-success btn-lg">
                            <i class="fa fa-search"></i> Apply Filters
                        </a>
                        {% if is_search %}
                            <a id="btn-clean-search" href="javascript:void(0);" class="btn btn-info btn-lg" style="margin-left: 1em">
                                <i class="fa fa-refresh"></i> Clean Filters
                            </a>
                        {% endif %}
                    </div>

                </div>

            </div> <!-- End of row filters-search -->
        </div>

        {% if is_search %}
            <div class="label {% if count_of_works %}label-warning{% else %}label-danger{% endif %}" style="float: right">
                <span style="font-size: 1.5em; font-weight: normal"><em>{{ count_of_works }} results found</em></span>
            </div>
        {% endif %}
        <div class="row margin-row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr style="font-weight: bold; font-size: 1em; background-color: #043b8a; color: white">
                    <th style="width: 80px">Cod.</th>
                    <th style="width: 200px">Project</th>
                    <th>Address</th>
                    <th style="width: 250px">Customer</th>
                    <th style="width: 120px">Team/Date</th>
                    <th style="width: 100px" class="text-center">Created by</th>
                    <th style="width: 20px"></th>
                </tr>
                </thead>
                <tbody>
                {% for w in works %}
                    <tr>
                        <td class="font12">
                            {{ w.repr_id }}<br/>
                            {% if w.notes %}
                                <a href="#" class="btn-notes btn btn-xs tu" title="Notes" notes="{{ w.notes }}" code="{{ w.repr_id }}">
                                    <i class="fa fa-sticky-note"></i>
                                </a>
                            {% endif %}
                             {% if w.excel_file %}
                                <a href="{{ w.get_my_excel_file  }}" class="btn btn-xs tu" title="Excel" style="margin-left: -0.5em">
                                    <i class="fa fa-file-excel-o"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="font12">
                            {{ w.project }}
                            {% if w.property %}
                                <br/><span class="font10">{{ w.property }}</span>
                            {% endif %}
                            {% if w.is_completed %}
                                <br/><span class="label label-success">Completed</span>
                            {% endif %}
                        </td>
                        <td class="font12">
                            {{ w.address }}
                            {% if w.is_completed and w.get_installation_code_by_report %}
                                <br/>
                                <span class="label label-info tr" title="{{ w.get_installation_code_by_report.representation_work_details }}">{{ w.get_installation_code_by_report.code }}</span>
                            {% endif %}
                        </td>
                        <td class="font12">
                            {{ w.customer.name }} <br/>
                            {{ w.customer.email }}<br/>
                            {{ w.customer.phone }}
                        </td>
                        <td class="font12">
                            {{ w.leader }}<br/>
                            {{ w.date|date:'m-d-Y' }}<br/>
                            <span class="small">({{ w.initial_time }} {% if w.end_time %}- {{ w.end_time|default_if_none:'' }}{% endif %})</span>
                        </td>
                        <td class="font12 text-center">{{ w.created_by|default_if_none:'' }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="font12 btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                    Actions
                                    <span class="caret"></span>
                                </a>
                                <ul class="font12 dropdown-menu pull-right list-group">
                                    {% if is_administrator %}
                                        <li>
                                            <a href="{% url 'works' %}?action=change_address&id={{ w.id }}">
                                                <i class="fa fa-home"></i> Change Address
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'works' %}?action=details&id={{ w.id }}">
                                            <i class="fa fa-list"></i> Details
                                        </a>
                                    </li>
                                    {% if w.register_time and w.latitude_register and w.longitude_register %}
                                        <li>
                                            <a href="http://maps.google.com/?q={{ w.latitude_register }},{{ w.longitude_register }}" target="_blank">
                                                <i class="fa fa-globe"></i> Location
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if not w.is_completed %}
                                        <li><hr class="margin-10"/></li>
                                        {% if is_administrator or is_dispatch %}
                                            <li>
                                                <a href="{% url 'works' %}?action=newteam&id={{ w.id }}">
                                                    <i class="fa fa-recycle"></i> Reasign Team
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'works' %}?action=edit&id={{ w.id }}">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'works' %}?action=delete&id={{ w.id }}">
                                                <i class="fa fa-times"></i> Delete
                                            </a>
                                        </li>
                                    {% else %}
                                        {% if w.get_installation_code_by_report %}
                                            <li>
                                                <a href="{% url 'works' %}?action=invoice&id={{ w.id }}">
                                                    <i class="fa fa-file-word-o"></i> Generate Invoice
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10" class="alert alert-info">
                            {% if is_search %}
                                <i><b>No Results Found.</b> We couldn't find any work based on your search filters. Please Try again with another search combination.</i>
                            {% else %}
                                <i>There are not works in the system. Click in the <strong>+ Add Work</strong> button to add your first work</i>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-success" href="{% url 'works' %}?action=add"><i class="fa fa-plus"></i> Add New Work</a>
                    <a class="btn btn-warning" href="{% url 'works' %}?action=import" style="margin-left: 1em"><i class="fa fa-upload"></i> Import from Excel</a>
                </div>
                <div class="col-sm-6 text-right">
                    {% if paging.num_pages > 20 %}
                        <ul class="pagination">
                            {% if paging.first_page %}
                                <li>
                                    <a href="{%  url 'works' %}?page=1{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if creatorid %}&creator={{ creatorid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if initial_date %}&idate={{ initial_date }}{% endif %}{% if end_date %}&edate={{ end_date }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if address %}&address={{ address }}{% endif %}">1</a>
                                </li>
                                <li><a href="{%  url 'works' %}?page={{ paging.ellipsis_left}}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if creatorid %}&creator={{ creatorid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if initial_date %}&idate={{ initial_date }}{% endif %}{% if end_date %}&edate={{ end_date }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if address %}&address={{ address }}{% endif %}" class="active">...</a></li>
                            {% endif %}
                            {% for pagenumber in paging.pages %}
                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}>
                                    <a href="{%  url 'works' %}?page={{ pagenumber }}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if creatorid %}&creator={{ creatorid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if initial_date %}&idate={{ initial_date }}{% endif %}{% if end_date %}&edate={{ end_date }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if address %}&address={{ address }}{% endif %}">
                                        {{ pagenumber }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if paging.last_page %}
                                <li>
                                    <a href="{%  url 'works' %}?page={{ paging.ellipsis_right }}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if creatorid %}&creator={{ creatorid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if initial_date %}&idate={{ initial_date }}{% endif %}{% if end_date %}&edate={{ end_date }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if address %}&address={{ address }}{% endif %}"
                                       class="active">
                                        ...
                                    </a>
                                </li>
                                <li>
                                    <a href="{%  url 'works' %}?page={{ paging.num_pages }}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if creatorid %}&creator={{ creatorid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if initial_date %}&idate={{ initial_date }}{% endif %}{% if end_date %}&edate={{ end_date }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if address %}&address={{ address }}{% endif %}">
                                        {{ paging.num_pages }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <ul class='pagination pagination-sm'>
                            {% for pagenumber in paging.page_range %}
                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}>
                                    <a href="{%  url 'works' %}?page={{ pagenumber }}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if creatorid %}&creator={{ creatorid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if initial_date %}&idate={{ initial_date }}{% endif %}{% if end_date %}&edate={{ end_date }}{% endif %}{% if code %}&code={{ code }}{% endif %}{% if address %}&address={{ address }}{% endif %}">
                                        {{ pagenumber }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block moreblock %}
    <div class="modal fade in" id="modal-notes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3498db; color: white">
                    <h3 class="modal-title">
                        Work Notes
                        <span style="float: right; font-size: 1em" id="modal-code"></span>
                    </h3>
                </div>
                <div class="modal-body">
                    <p style="font-size: 1.2em; font-weight: 900">
                        Notes: <span id="modal-text" style="font-size: 0.8em; font-weight: normal"></span>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-info btn-close" data-dismiss="modal"><i class="fa fa-close"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}