{% extends 'base.html' %}
{% load static %}

{% block heading %}
    <script>

        $("#works").addClass("active");

        show_loading = function () {

             $.blockUI({
                message: '<img src="/static/images/loading.gif" style="width:170px; height:170px" />',
                css: {
                    border:     'none',
                    backgroundColor:'transparent'
                }
            });

        };

        $("#btn-clean-search").click(function () {

            show_loading();

            setTimeout(function () {
                location.href = "{% url 'works' %}";
            }, 2000);

        });

        $("#btn-search").click(function () {

            show_loading();

            var sel_project = $('#search-projects').val();
            var sel_property = $('#search-properties').val();
            var sel_jobtype = $('#search-jobtypes').val();
            var sel_team = $('#search-teams').val();
            var sel_status = $('#search-statuses').val();
            var input_code_address = $('#search-code-address').val();

            setTimeout(function () {
                location.href = "{% url 'works' %}?project="+sel_project+'&property='+sel_property+'&jobtype='+sel_jobtype+'&team='+sel_team+'&status='+sel_status+'&search='+input_code_address;
            }, 2000);

        });

        $('#search-code-address').keyup(function(e) {
            if(e.keyCode === 13) {
                $("#btn-search").trigger("click");
            }
        });

        // Modal for Notes
        $(".btn-notes").click(function () {
            var elem = $("#modal-notes");
            var code = $(this).attr('code');
            var notes = $(this).attr('notes');
            $('#modal-code').html("Code: " + code);
            $('#modal-text').html(notes);
            elem.modal('show');
            return false;
        });

        $("#modal-notes").find(".btn-close").click(function () {
            $("#modal-notes").modal('hide');
            return false;
        });
        // End Modal for Notes

        // Toggle for Search div
        $("#show-search").click(function() {
            $("#filters-search").slideToggle('2000');
        });


    </script>
{% endblock %}

{% block canvas %}
    <div class="container-fluid">

        <div class="row margin-row">
            <div class="col-sm-7">
                <p class="myheading">
                    <i class="fa fa-briefcase"></i> {{ title }}
                </p>
            </div>

            <div class="col-sm-5 text-right" style="margin-top: 17px">
                <a id="show-search" style="font-size: 1.2em; cursor: pointer; text-decoration: none">
                    <i class="fa fa-search"></i> Advanced Search
                </a>
                {% if is_hotwire %}
                    <a href="{% url 'works' %}?action=customer_reports" title="Chart" style="margin-left: 1em; font-size: 1.2em; cursor: pointer; text-decoration: none">
                        <i class="fa fa-bar-chart"></i> Reports
                    </a>
                {% endif %}
            </div>

            <div id="filters-search" style="display: none; margin-top: 5em">

                <div class="row">

                    <div class="col-sm-12">

                        <div class="col-sm-4">
                            <label for="search-projects">By Projects</label>
                            <select class="form-control" id="search-projects" style="width: 100%; height: 2.5em">
                                <option value="0">All Projects</option>
                                {% for project in projects %}
                                    <option value="{{ project.id }}" {% ifequal projectid project.id %}selected{% endifequal %}>{{ project }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label for="search-properties">By Properties</label>
                            <select class="form-control" id="search-properties" style="width: 100%; height: 2.5em">
                                <option value="0">All Properties</option>
                                {% for property in properties %}
                                    <option value="{{ property.id }}" {% ifequal propertyid property.id %}selected{% endifequal %}>{{ property }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label for="search-jobtypes">By JobTypes</label>
                            <select class="form-control" id="search-jobtypes" style="width: 100%; height: 2.5em">
                                <option value="0">All Job Types</option>
                                {% for jobtype in jobtypes %}
                                    <option value="{{ jobtype.id }}" {% ifequal jobtypeid jobtype.id %}selected{% endifequal %}>{{ jobtype }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                </div>

                <div class="row" style="margin-top: 1em">

                    <div class="col-sm-12">

                        <div class="col-sm-3">
                            <label for="search-teams">By Team</label>
                            <select class="form-control" id="search-teams" style="width: 100%; height: 2.5em">
                                <option value="0">All Technicians</option>
                                {% for team in teams %}
                                    <option value="{{ team.id }}" {% ifequal teamid team.id %}selected{% endifequal %}>{{ team }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <label for="search-statuses">By Status</label>
                            <select class="form-control" id="search-statuses" style="width: 100%; height: 2.5em">
                                <option value="0" {% ifequal statusid '0' %}selected{% endifequal %}>All Status</option>
                                <option value="1" {% ifequal statusid '1' %}selected{% endifequal %}>Complete</option>
                                <option value="2" {% ifequal statusid '2' %}selected{% endifequal %}>Pending</option>
                            </select>
                        </div>

                        {#                        <div class="col-sm-2">#}
                        {#                            <label for="search-initial-date"> Initial Date:#}
                        {#                                <input class="form-control" value="2017-10-09" id="search-initial-date" style="height: 2.5em"/>#}
                        {#                            </label>#}
                        {#                        </div>#}
                        {#                        <div class="col-sm-2" style="margin-left: -1em">#}
                        {#                            <label for="search-end-date">End Date:#}
                        {#                                <input class="form-control" value="2017-10-09" id="search-end-date" style="height: 2.5em"/>#}
                        {#                            </label>#}
                        {#                        </div>#}

                        <div class="col-sm-6">
                            <label for="search-code-address"> By Code or Address:
                                <input class="form-control" style="width: 600px; border-radius: 10px; margin-top: 0.4em" id="search-code-address" value="{% if search %}{{ search }}{% endif %}">
                            </label>
                        </div>

                    </div>

                </div>

                <div class="row" style="margin-top: 1.3em">

                    <div class="col-sm-12 text-center">
                        <a id="btn-search" href="javascript:void(0);" class="btn btn-success btn-lg">
                            <i class="fa fa-search"></i> Apply Filters
                        </a>
                        {% if is_search %}
                            <a id="btn-clean-search" href="javascript:void(0);" class="btn btn-info btn-lg" style="margin-left: 1em">
                                <i class="fa fa-refresh"></i> Clean Filters
                            </a>
                        {% endif %}
                    </div>

                </div>

            </div> <!-- End of row filters-search -->
        </div>

        <div class="row margin-row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr style="font-weight: bold; font-size: 1em; background-color: #043b8a; color: white">
                    <th style="width: 60px">Cod.</th>
                    <th style="width: 220px">Project</th>
                    <th>Address</th>
                    {#                    {% if not is_hotwire %}#}
                    <th style="width: 120px">Customer</th>
                    {#                    {% endif %}#}
                    <th style="width: 100px" class="text-center">Date</th>
                    <th style="width: 70px" class="text-center">Start</th>
                    <th style="width: 70px" class="text-center">Register</th>
                    <th style="width: 70px" class="text-center">End</th>
                    <th style="width: 80px" class="text-center">Lead</th>
                    <th style="width: 40px" class="text-center">Status</th>
                    <th style="width: 20px"></th>
                </tr>
                </thead>
                <tbody>
                {% for w in works %}
                    <tr>
                        <td class="font12">
                            {{ w.repr_id }}
                            {% if w.notes %}
                                <a href="#" class="btn-notes btn btn-xs tr" title="Notes" notes="{{ w.notes }}" code="{{ w.repr_id }}">
                                    <i class="fa fa-sticky-note"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="font12">
                            {{ w.project }}
                            {% if w.property %}
                                <br/><span class="font10">{{ w.property }}</span>
                            {% endif %}
                        </td>
                        <td class="font12">{{ w.address }}</td>
                        {#                        {% if not is_hotwire %}#}
                        <td class="font12">{{ w.customer.name }}</td>
                        {#                        {% endif %}#}
                        <td class="text-center font12">{{ w.date|date:'m-d-Y' }}</td>
                        <td class="text-center font12">{{ w.initial_time }}</td>
                        <td class="text-center font12">{{ w.register_time|default_if_none:'' }}</td>
                        <td class="text-center font12">{{ w.end_time|default_if_none:'' }}</td>
                        <td class="text-center font12">{{ w.leader|default_if_none:'' }}</td>
                        <td class="text-center font12">
                            {% if w.is_completed %}
                                <span class="label label-success">Completed</span>
                            {% else %}
                                <span class="label label-warning">Pending</span>
                            {% endif %}
                        </td>

                        <td>
                            <div class="btn-group">
                                <a class="font12 btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                    Actions
                                    <span class="caret"></span>
                                </a>
                                <ul class="font12 dropdown-menu pull-right list-group">
                                    <li>
                                        <a href="{% url 'works' %}?action=details&id={{ w.id }}"><i class="fa fa-list"></i> Details</a>
                                    </li>
                                    {% if w.register_time and w.latitude_register and w.longitude_register %}
                                        <li>
                                            <a href="http://maps.google.com/?q={{ w.latitude_register }},{{ w.longitude_register }}" target="_blank">
                                                <i class="fa fa-globe"></i> Location
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if not w.is_completed %}
                                        <li><hr class="margin-10"/></li>
                                        {% if is_admin or is_dispatch %}
                                            <li>
                                                <a href="{% url 'works' %}?action=newteam&id={{ w.id }}"><i class="fa fa-user"></i> Reasign Reponsable</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'works' %}?action=edit&id={{ w.id }}"><i class="fa fa-edit"></i> Edit</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'works' %}?action=delete&id={{ w.id }}"><i class="fa fa-times"></i> Delete</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10" class="alert alert-info">
                            {% if is_search %}
                                <i><b>Results Not Found.</b> We couldn't find any work based on your search filters. Please Try again with another search combination.</i>
                            {% else %}
                                <i>There are not works in the system. Click in the <strong>+ Add Work</strong> button to add your first work</i>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-success" href="{% url 'works' %}?action=add"><i class="fa fa-plus"></i> Add Work</a>
                </div>
                <div class="col-sm-6 text-right">
                    {% if paging.num_pages > 20 %}
                        <ul class="pagination">
                            {% if paging.first_page %}
                                <li>
                                    <a href="{%  url 'works' %}?page=1{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if search %}&search={{ search }}{% endif %}">1</a>
                                </li>
                                <li><a href="{%  url 'works' %}?page={{ paging.ellipsis_left}}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if search %}&search={{ search }}{% endif %}" class="active">...</a></li>
                            {% endif %}
                            {% for pagenumber in paging.pages %}
                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}>
                                    <a href="{%  url 'works' %}?page={{ pagenumber }}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if search %}&search={{ search }}{% endif %}">
                                        {{ pagenumber }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if paging.last_page %}
                                <li>
                                    <a href="{%  url 'works' %}?page={{ paging.ellipsis_right }}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                                       class="active">
                                        ...
                                    </a>
                                </li>
                                <li>
                                    <a href="{%  url 'works' %}?page={{ paging.num_pages }}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if search %}&search={{ search }}{% endif %}">
                                        {{ paging.num_pages }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <ul class='pagination pagination-sm'>
                            {% for pagenumber in paging.page_range %}
                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}>
                                    <a href="{%  url 'works' %}?page={{ pagenumber }}{% if projectid %}&project={{ projectid }}{% endif %}{% if propertyid %}&property={{ propertyid }}{% endif %}{% if jobtypeid %}&jobtype={{ jobtypeid }}{% endif %}{% if teamid %}&team={{ teamid }}{% endif %}{% if statusid %}&status={{ statusid }}{% endif %}{% if search %}&search={{ search }}{% endif %}">
                                        {{ pagenumber }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block moreblock %}
    <div class="modal fade in" id="modal-notes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3498db; color: white">
                    <h3 class="modal-title">
                        Work Notes
                        <span style="float: right; font-size: 1em" id="modal-code"></span>
                    </h3>
                </div>
                <div class="modal-body">
                    <p style="font-size: 1.2em; font-weight: 900">
                        Notes: <span id="modal-text" style="font-size: 0.8em; font-weight: normal"></span>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-info btn-close" data-dismiss="modal"><i class="fa fa-close"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}